html {
    height: 100%;
    color: #ffefcf;
    text-align: center;
}

body {
    height: 100%;
    background-color: #ffefcf;
    line-height: 1.5;
}

.container{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 3px;
}

.div{
    margin: 15%;
}

.viscol {
    background-color: orange;
}